.award_logo {
  background-image: url(../assets/triple@2x.png);
  background-size: 400px;
  background-repeat: no-repeat;
  width: 400px;
  padding-top: 285px;
  color: var(--grey);
  text-align: center;
}
